#storage | proxy
APP_MODE=proxy
#Dir for target files
STORAGE_DIR=storages
LOGS_DIR=logs
#error | info | debug
LOG_LEVEL=info
CACHE_DOMAINS_URL=https://raw.githubusercontent.com/DjoSmer/cache-domains/refs/heads/master/cache_domains.json

NGINX_ACCESS_LOG=1
NGINX_LANCACHE_HOST=localhost:3128
NGINX_UPSTREAM_DNS="8.8.8.8 8.8.4.4"

POSTGRES_USER=lancache
POSTGRES_PASSWORD=lancache
POSTGRES_DB=lancache

#1T 100G 10000M
STORAGE_DISK_SIZE=2G
#1m 2w 10d
STORAGE_MAX_AGE=1w

TZ=Etc/UCT