#Dir for target files
STORAGE_DIR=storages
LOGS_DIR=logs

# The github repo url for the cache_domains files to use to populate the cdn maps, if you do not want to use the recommended source for testing purposes.
CACHE_DOMAINS_URL=https://raw.githubusercontent.com/DjoSmer/cache-domains/refs/heads/master/cache_domains.json

# The amount of disk space the container should use for caching data. Specified in gigabytes.
# 1T 100G 10000M
STORAGE_DISK_SIZE=2G
# The maximum amount of time a file should be held in cache.
# There is usually no reason to reduce this - the cache will automatically remove the oldest content if it needs the space.
# 1m 2w 10d
STORAGE_MAX_AGE=1w

#Database setting
POSTGRES_HOST=postgres
POSTGRES_USER=lancache
POSTGRES_PASSWORD=lancache
POSTGRES_DB=lancache
POSTGRES_POOL=10

## Nginx access log: 1 - enabled | 0 - disabled
#NGINX_ACCESS_LOG=0

## Host or IP storage service
#NGINX_STORAGE_HOST=storage

## Nginx dns service, default: docker
#NGINX_RESOLVERS=127.0.0.11

#Timezone
TZ=Etc/UCT

# Log level
#error | info | debug
#LOG_LEVEL=info

# App mode. Don't need change.
APP_MODE=storage